/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the header */
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Apply styles to the navigation menu */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Apply styles to the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

/* Apply styles to the course cards */
.course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.course-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.course-card-content {
    padding: 20px;
    text-align: center;
}

/* Style for the "Apply Now" button */
.apply-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #0056b3;
}

/* Apply styles to the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Bank details styling */
#bank-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bank-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#bank-details ul {
    list-style: none;
    padding: 0;
}

#bank-details ul li {
    margin-bottom: 10px;
}

#bank-details p {
    margin-top: 10px;
}
