body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    animation: fadeInUp 1s ease-in-out;
}

h1 {
    color: #ecf0f1;
    font-size: 1.5em;
    margin-bottom: 5px;
}

h2 {
    color: #3498db;
    font-size: 1.2em;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    max-width: 600px; /* Adjusted max-width */
    margin: 0 auto;
    padding: 2em;
}

p {
    line-height: 1.6;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-list li {
    margin-bottom: 1em;
}

.project-list a {
    font-weight: bold;
}

#profile-img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px; /* Adjusted max-width */
}
